<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.upc.software.upcmem">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- 权限设置 -->


    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 允许联网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 获取GSM（2g）、WCDMA（联通3g）等网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 获取sd卡写的权限，用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许读取手机状态 用于创建BmobInstallation -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="f8WzaI9Bv2njyGZhpbIe9Xmmd7iqdtgt" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:launchMode="singleTop" />
        <activity
            android:name=".RegisterActivity"
            android:label="注册" />
        <activity
            android:name=".ForgetActivity"
            android:label="找回密码" />
        <activity
            android:name=".ModifyActivity"
            android:label="记录修改" />
        <!-- 地图定位的Service声明 -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <activity
            android:name=".PersonalActivity"
            android:label="@string/title_activity_personnal"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditActivity"
            android:label="个人信息编辑" />
        <activity
            android:name=".AddActivity"
            android:label="添加记录" />
        <activity
            android:name=".InKindsEditActivity"
            android:label="收入分类修改" />
        <activity
            android:name=".OutKindsEditActivity"
            android:label="支出分类修改" />
        <activity
            android:name=".OutKindsAddActivity"
            android:label="分类添加" />
        <activity
            android:name=".PocketActivity"
            android:label="我的钱包"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PocketEditActivity"
            android:label="钱包编辑" />
        <activity
            android:name=".PocketAddActivity"
            android:label="钱包添加" />
        <activity
            android:name=".DetailActivity"
            android:label="记录详情"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TransferActivity"
            android:label="转账" />
        <activity android:name=".AnalyseActivity"
            android:label="报表分析"/>
        <activity android:name=".SettingActivity"
            android:label="设置"/>
        <activity
            android:name=".AboutActivity"
            android:label="关于Upc理财"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>